<div class="form">
  <mat-slide-toggle [formField]="onField" [disableRipple]="true" aria-label="Power" />

  <span class="label">Brightness:</span>
  <mat-slider min="1" max="100">
      <input matSliderThumb [formField]="brightnessField">
  </mat-slider>
  <span class="brightnessLabel">{{ brightness() }}%</span>

  <span class="label">Temperature:</span>
  <mat-slider min="2700" max="6500" step="100">
      <input matSliderThumb [formField]="temperatureField">
  </mat-slider>
  <span class="label">{{ temperature() }}K</span>
</div>