<mat-card>
    <mat-card-header>
      <mat-card-title>Litra PWA</mat-card-title>
      <mat-card-subtitle>PWA to control the Logitech LitraGlow video light</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p></p>
    </mat-card-content>
    <mat-card-actions>
        <button [disabled]="state() === 'HidNotSupported'" type="button" matButton="tonal" (click)="connect.emit()">
            Start
        </button>
    </mat-card-actions>
    <mat-card-footer>
    @switch (state()) {
        @case('Connecting') {
            <mat-progress-bar mode="indeterminate" />
        }
        @case('HidNotSupported') {
            <div class="error">Your browser does not support the <a href="https://developer.mozilla.org/en-US/docs/Web/API/WebHID_API" target="_blank" rel="noopener noreferrer">WebHID API</a>.</div>
        }
    }
    </mat-card-footer>
</mat-card>