<mat-card class="mat-app-background" style="margin: auto; max-width: max-content;" *ngIf="appState !== AppState.Connected">
    <mat-card-header>
      <mat-card-title>Litra PWA</mat-card-title>
      <mat-card-subtitle>PWA to control the Logitech LitraGlow video light</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p></p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button aria-label="View project on GitHub">
          <img src="assets/github-mark-white.svg" width="24" />
        </button>
        <button mat-flat-button extended color="primary" style="margin-left: auto" (click)="start()">
            Start
        </button>   
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate" *ngIf="appState === AppState.Connecting"></mat-progress-bar>
      </mat-card-footer>
  </mat-card>

<div style="margin: auto; max-width: max-content;" *ngIf="appState === AppState.Connected">
    <mat-expansion-panel hideToggle expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            LitraGlow
          </mat-panel-title>
          <mat-panel-description>
            {{ brightness.value }}%, T: {{temperature.value}}K
          </mat-panel-description>
          <mat-slide-toggle (click)="$event.stopPropagation()" [formControl]="onOff">On</mat-slide-toggle>
        </mat-expansion-panel-header>
        Brightness:
        <mat-slider min="1" max="100">
            <input matSliderThumb [formControl]="brightness">
          </mat-slider>
         {{ brightness.value }}%
        <br>
        Temperature:
        <mat-slider min="2700" max="6500" step="100">
            <input matSliderThumb [formControl]="temperature">
        </mat-slider>
        {{ temperature.value }}K
    </mat-expansion-panel>
</div>