name: 'Unittests'
on:
    pull_request:
    push:
jobs:
  build-test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3     # checkout the repo
    - uses: actions/setup-node@v3
      with:
        node-version: 24
        cache: 'npm'
    - run: npm ci                   # install packages
    - run: npm test:ci                # run tests (configured to use jest-junit reporter)

    - name: Test Report
      uses: dorny/test-reporter@v1
      if: ${{ !cancelled() }}       # run this step even if previous step failed
      with:
        name: Vitest Tests            # Name of the check run which will be created
        path: test-results.xml    # Path to test results
        reporter: jest-junit        # Format of test results